.team { padding: var(--section-padding) 0; }

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 70px;
}

.team-list li { max-width: 40%; }

.team-member {
  position: relative;
  border-radius: 50%;
  border: 3px solid var(--raisin-black-3);
  transition: var(--transition-1);
}

.team-member:is(:hover, :focus) { border-color: var(--brand-red); }

.team-member img { width: 100%; }

.team-member:is(:hover, :focus) img { opacity: 0.5; }

.team-member ion-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--brand-red);
  font-size: 50px;
  transition: var(--transition-1);
  opacity: 0;
}

.team-member:is(:hover, :focus) ion-icon { opacity: 1; }

.team .btn-primary { margin-inline: auto; }

@media (min-width: 1200px) {
  
    .team-list { gap: 20px; }
  
  }




