.gallery { padding: var(--section-padding) 0; }

.gallery-item img {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.2);
}

.swiper-button-next:after, .swiper-button-prev:after {
  color: var(--brand-red);
}

@media (min-width: 575px) {
  
    .gallery .container { max-width: unset; }
  
}

